{
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 120,
  "singleQuote": true,
  "bracketSameLine": true,
  "overrides": [
    {
      "files": ["*.js"],
      "options": {
        "useTabs": false,
        "tabWidth": 2
      }
    },
    {
      "files": ["*.ts"],
      "options": {
        "useTabs": false,
        "tabWidth": 2
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "useTabs": false,
        "singleQuote": false,
        "printWidth": 80
      }
    }
  ]
}
